---
import Footer from "./components/Footer.astro";
import Header from "./components/Header.astro";
import Logo from "/public/favicon.svg";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={Logo.src} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="grid">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
