---
import Logo from '/public/favicon.svg'

const { href, title } = Astro.props
---

<nav class='bg-white border-gray-200 dark:bg-gray-900'>
	<div class='max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 navbar'>
		<!-- Logo principal -->
		<a
			href='/'
			class='flex items-center space-x-3 rtl:space-x-reverse bg-blue-700 rounded-md px-2 py-1'
		>
			<img
				src={Logo.src}
				class='h-12'
			/>
			<span class='text-2xl font-semibold whitespace-nowrap text-white'>Logo</span>
		</a>
		<!-- Logo principal -->

		<!-- Elementos para direccionar a las paginas -->
		<div
			class='w-full md:block md:w-auto mr-10'
			id='navbar'
		>
			<ul
				class='font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white'
			>
				<li>
					<a
						href='#'
						class='block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0'
						aria-current='page'
						>Mis libros</a
					>
				</li>

				<li>
					<!-- Dropdown boton de colaborar-->
					<button
						id='id_boton_colaborar'
						data-dropdown-toggle='dropdownNavbar'
						class='flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto'
						>Colaborar <svg
							class='w-2.5 h-2.5 ms-2.5'
							aria-hidden='true'
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 10 6'
						>
							<path
								stroke='currentColor'
								stroke-linecap='round'
								stroke-linejoin='round'
								stroke-width='2'
								d='m1 1 4 4 4-4'
							></path>
						</svg></button
					>
					<!-- Dropdown menu de colaborar-->
					<div
						id='id_menu_colaborar'
						class='absolute z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44'
					>
						<ul
							class='py-2 text-sm text-gray-700 dark:text-gray-400'
							aria-labelledby='colaborar'
						>
							<li>
								<a
									href='#'
									class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
									>Añadir un libro</a
								>
							</li>
							<li>
								<a
									href='#'
									class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
									>Libros recientes</a
								>
							</li>
							<li>
								<a
									href='#'
									class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
									>Administrar libros</a
								>
							</li>
						</ul>
					</div>
				</li>
				<!-- Dropdown menu de colaborar-->
				<li>
					<!-- Dropdown boton de colaborar-->
					<button
						id='id_boton_explorar'
						data-dropdown-toggle='dropdownNavbar'
						class='flex items-center justify-between w-full py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent'
						>Explorar <svg
							class='w-2.5 h-2.5 ms-2.5'
							aria-hidden='true'
							xmlns='http://www.w3.org/2000/svg'
							fill='none'
							viewBox='0 0 10 6'
						>
							<path
								stroke='currentColor'
								stroke-linecap='round'
								stroke-linejoin='round'
								stroke-width='2'
								d='m1 1 4 4 4-4'
							></path>
						</svg></button
					>
					<!-- Dropdown boton de colaborar-->
					<!-- Dropdown menu de explorar-->
					<div
						id='id_menu_explorar'
						class='absolute z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600'
					>
						<ul
							class='py-2 text-sm text-gray-700 dark:text-gray-400'
							aria-labelledby='explorar'
						>
							<li>
								<a
									href='#'
									class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
									>Temas</a
								>
							</li>
							<li>
								<a
									href='#'
									class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
									>Tendencias</a
								>
							</li>
							<li>
								<a
									href='/listaLibros'
									class='block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white'
									>Lista de libros</a
								>
							</li>
						</ul>
					</div>
				</li>
				<!-- Dropdown menu de explorar-->
			</ul>
		</div>
		<!-- Elementos para direccionar a las paginas -->
		<!-- Menu desplegable (dropdown) -->

		<!-- Menu desplegable (dropdown) -->
	</div>
</nav>

<script>
	const buton_colaborar = document.getElementById('id_boton_colaborar') as Element
	const buton_explorar = document.getElementById('id_boton_explorar') as Element
	const menu_abierto_colaborar = document.getElementById('id_menu_colaborar') as Element
	const menu_abierto_explorar = document.getElementById('id_menu_explorar') as Element

	buton_colaborar.addEventListener('click', () => {
		menu_abierto_colaborar.classList.toggle('hidden')
		menu_abierto_explorar.classList.add('hidden')
	})

	buton_explorar.addEventListener('click', () => {
		menu_abierto_explorar.classList.toggle('hidden')
		menu_abierto_colaborar.classList.add('hidden')
	})
</script>
